<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Alternatively, use the DevExpress NuGet Feed: https://nuget.devexpress.com -->
	  <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
	  <add key="DevExpress Feed" value="https://nuget.devexpress.com/zMGYERkZVzKv6zBjLio2wlXaa6C9lTek3HeCk1ZEjer2Tevfvw/api" />

  </packageSources>
</configuration>