@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


						<!--begin::Post-->
<div class="post d-flex flex-column-fluid" id="kt_post">
							<!--begin::Container-->
	<div id="kt_content_container" class="container">
								<!--begin::Row-->
		<div class="row gy-5 g-xl-8">
									<!--begin::Col-->

			<h4>HOLA MUNDO</h4>


			</div>
		</div>
</div>
