@model List<CundecinosWeb.Models.Publication>

@{
	var extensions = ViewBag.Extensions;
	var collegeCareers = ViewBag.CollegeCareers;

	}
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
	<!--begin::Toolbar-->
	<div class="toolbar" id="kt_toolbar">
		<!--begin::Container-->
		<div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
			<!--begin::Page title-->
			<div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
				<!--begin::Title-->
				<h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">Reporte Cundecinos</h1>
				<!--end::Title-->
				<!--end::Separator-->
				<!--begin::Breadcrumb-->
				
				<!--end::Breadcrumb-->
			</div>
			<!--end::Page title-->
			<!--begin::Actions-->
			<div class="d-flex align-items-center py-1">
				
			</div>
			<!--end::Actions-->
		</div>
		<!--end::Container-->
	</div>
	<!--end::Toolbar-->
	<!--begin::Post-->
	<div class="post d-flex flex-column-fluid" id="kt_post">
		<!--begin::Container-->
		<div id="kt_content_container" class="container-xxl">
			<!--begin::Row-->
			<div class="row g-5 g-xl-8">
				<div class="col-xl-6">
					<!--begin::Charts Widget 1-->
					<div class="card card-xl-stretch mb-xl-8">
						<!--begin::Header-->
						<div class="card-header border-0 pt-5">
							<!--begin::Title-->
							<h3 class="card-title align-items-start flex-column">
								<span class="card-label fw-bolder fs-3 mb-1">Publicaciones por mes</span>
							</h3>
							<!--end::Title-->
						</div>
						<!--end::Header-->
						<!--begin::Body-->
						<div class="card-body">
							<!--begin::Chart-->
							<div id="chart_1" style="height: 350px"></div>
							<!--end::Chart-->
						</div>
						<!--end::Body-->
					</div>
					<!--end::Charts Widget 1-->
				</div>
				<div class="col-xl-6">
					<!--begin::Charts Widget 2-->
					<div class="card card-xl-stretch mb-5 mb-xl-8">
						<!--begin::Header-->
						<div class="card-header border-0 pt-5">
							<h3 class="card-title align-items-start flex-column">
								<span class="card-label fw-bolder fs-3 mb-1">Publicaciones por carrera</span>
							</h3>
						</div>
						<!--end::Header-->
						<!--begin::Body-->
						<div class="card-body">
							<!--begin::Chart-->
							<div id="chart_2" style="height: 350px"></div>
							<!--end::Chart-->
						</div>
						<!--end::Body-->
					</div>
					<!--end::Charts Widget 2-->
				</div>
			</div>
			<!--end::Row-->
			<!--begin::Row-->
			<div class="row g-5 g-xl-8">
				<div class="col-xl-12">
					<!--begin::Charts Widget 3-->
					<div class="card card-xl-stretch mb-xl-8">
						<!--begin::Header-->
						<div class="card-header border-0 pt-5">
							<h3 class="card-title align-items-start flex-column">
								<span class="card-label fw-bolder fs-3 mb-1">Publicaciones por sede/extensión</span>
							</h3>
						</div>
						<!--end::Header-->
						<!--begin::Body-->
						<div class="card-body">
							<!--begin::Chart-->
							<div id="chart_3" style="height: 350px"></div>
							<!--end::Chart-->
						</div>
						<!--end::Body-->
					</div>
					<!--end::Charts Widget 3-->
				</div>
			</div>
			<!--end::Row-->
			<div class="row g-5 g-xl-8">
				<div class="col-xl-12">
					<!--begin::Charts Widget 3-->
					<div class="card card-xl-stretch mb-xl-8">
						<!--begin::Header-->
						<div class="card-header border-0 pt-5">
							<h3 class="card-title align-items-start flex-column">
								<span class="card-label fw-bolder fs-3 mb-1">Publicaciones por estado</span>
							</h3>
						</div>
						<!--end::Header-->
						<!--begin::Body-->
						<div class="card-body">
							<!--begin::Chart-->
								<div id="chart_circle" style="height: 350px"></div>
								<hr class="my-10"/>
							<div id="chart_lines" style="height: 350px"></div>
							<!--end::Chart-->
						</div>
						<!--end::Body-->
					</div>
					<!--end::Charts Widget 3-->
				</div>
			</div>
			<div class="row g-5 g-xl-8">
				<div class="col-xl-12">
					<!--begin::Charts Widget 3-->
					<div class="card card-xl-stretch mb-xl-8">
						<!--begin::Header-->
						<div class="card-header border-0 pt-5">
							<h3 class="card-title align-items-start flex-column">
								<span class="card-label fw-bolder fs-3 mb-1">Ofertas a publicaciones</span>
								@(Html.DevExtreme().SelectBox()
									.DataSource(d => d.Mvc().Controller("APIReport").LoadAction("Extensions").Key("Value"))
									.ValueExpr("Value")
									.ID("ExtensionId")
									.DisplayExpr("Text")
									.Placeholder("Seleccione una extensión...")
									.OnValueChanged("reportoffers")
									.Width(300)
									)
							</h3>
						</div>
						<!--end::Header-->
						<!--begin::Body-->
						<div class="card-body">
							<!--begin::Chart-->
							<div id="offerschart" style="height: 350px"></div>
							<!--end::Chart-->
						</div>
						<!--end::Body-->
					</div>
					<!--end::Charts Widget 3-->
				</div>
			</div>
		</div>
		<!--end::Container-->
	</div>
	<!--end::Post-->
</div>
<script src="~/js/Report.js" asp-append-version="true"></script>