@model CundecinosWeb.Models.Person
@{
    ViewData["Title"] = "Registrer";
  
}
<div class="most-asked section" style="padding-top: 0px !important; margin-top: 0px !important;">
    <div class="container">


<h4>Registro de Usuario</h4>
<hr />

<form method="post">


@(Html.DevExtreme().Form<CundecinosWeb.Models.Person>()
    .ColCount(2)
    .Items(items => {


        items.AddSimpleFor(m => m.UID).Visible(false);

        items.AddSimpleFor(m => m.FirstName);

        items.AddSimpleFor(m => m.LastName);

        items.AddSimpleFor(m => m.IdentificationNumber);

        items.AddSimpleFor(m => m.CellPhone);

        items.AddSimpleFor(m => m.Email);

        items.AddSimpleFor(m => m.BirthYear);

        items.AddSimpleFor(m => m.Company);

        items.AddSimpleFor(m => m.CollegeCareerId);



        items.AddSimpleFor(m => m.IsActive);

                    items.AddGroup().ColCountByScreen(conf => conf.Xs(2).Sm(2).Md(4).Lg(8)).Items(button =>
                    {

                        @*button.AddButton().HorizontalAlignment(HorizontalAlignment.Left).ButtonOptions(b => b.Text("Regresar")
                        .Type(ButtonType.Normal)
                        .ID("button")
                        .UseSubmitBehavior(false));*@

                        button.AddButton().HorizontalAlignment(HorizontalAlignment.Left).ButtonOptions(b => b.Text("Guardar")
                        .Type(ButtonType.Success)
                        .UseSubmitBehavior(true));


                    });
    }).FormData(Model)
)

        </form>
</div>

</div>
